<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >

	<!-- navbar logo-->
	<div th:fragment="navbar-logo" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
		<a class="navbar-brand brand-logo" th:href="@{/dashboard/}"><span class="text-info">ZEUS</span></a>
		<a class="navbar-brand brand-logo-mini" th:href="@{/dashboard/}"><span class="text-info">ZEUS</span></a>
	</div>


	<!-- menu administrador -->
	<ul th:fragment="navbar-admin-menu-usuarios" class="navbar-nav" >
          
          <li class="nav-item dropdown d-none d-lg-flex" th:if="${usuario.isPerfilCompleto()}" >
            <a class="nav-link dropdown-toggle nav-btn" id="actionDropdown" href="#" data-toggle="dropdown">
              <span class="btn">+ Usuários</span>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-left" aria-labelledby="actionDropdown">
              <a class="dropdown-item" th:href="@{/dashboard/admin/usuarios/atuais}">
                <i class="icon-user text-primary"></i>
                Usuários
              </a>
              <div class="dropdown-divider"></div>
             <!-- <a class="dropdown-item" th:href="@{/dashboard/admin/usuarios/antigos}">
                <i class="icon-user text-primary"></i>
                Cadastros antigos
              </a>
              <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" th:href="@{/dashboard/admin/usuarios/opcoes}">
                <i class="icon-question text-info"></i>
                Opções sexuais
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/dashboard/admin/usuarios/escolaridades}">
                <i class="icon-eyeglass text-success"></i>
                Escolaridade
              </a>
             <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="icon-user-following text-warning"></i>
                Admin User
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="icon-docs text-success"></i>
                Sales report
              </a> -->
            </div>
          </li>
  </ul>

  <ul th:fragment="navbar-admin-menu-unidades" class="navbar-nav" >
          
          <li class="nav-item dropdown d-none d-lg-flex" th:if="${usuario.isPerfilCompleto()}" >
            <a class="nav-link dropdown-toggle nav-btn" id="actionDropdown" href="#" data-toggle="dropdown">
              <span class="btn">+ Locais</span>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-left" aria-labelledby="actionDropdown">
              <a class="dropdown-item" th:href="@{/dashboard/admin/unidades}">
                <i class="icon-briefcase text-primary"></i>
                Unidades de trabalho
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/dashboard/admin/departamentos}">
                <i class="icon-briefcase text-warning"></i>
                Departamentos
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/dashboard/admin/cargos}">
                <i class="icon-briefcase text-info"></i>
                Cargos
              </a>
            </div>
          </li>
  </ul>

   <ul th:fragment="navbar-admin-menu-cursos" class="navbar-nav" >
          
          <li class="nav-item dropdown d-none d-lg-flex" th:if="${usuario.isPerfilCompleto()}" >
            <a class="nav-link dropdown-toggle nav-btn" id="actionDropdown" href="#" data-toggle="dropdown">
              <span class="btn">+ Eventos</span>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-left" aria-labelledby="actionDropdown">
              <a class="dropdown-item" th:href="@{/dashboard/admin/eventos/presencial}">
                <i class="icon-badge text-primary"></i>
                Eventos presenciais
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/dashboard/admin/eventos/online}">
                <i class="icon-badge text-success"></i>
                Eventos online
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/dashboard/admin/eventos/presencial/categorias}">
                <i class="icon-layers text-danger"></i>
                Categorias
              </a>
            </div>
          </li>
  </ul>
     

   <!-- navbar principal -->     
   <nav th:fragment="navbar-principal" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      
      <div th:replace="fragments/navbar :: navbar-logo"></div>

      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        
        <ul sec:authorize="hasRole('ROLE_Administrador')"  th:replace="fragments/navbar :: navbar-admin-menu-usuarios"></ul>

        <ul sec:authorize="hasRole('ROLE_Administrador')"  th:replace="fragments/navbar :: navbar-admin-menu-unidades"></ul>

        <ul sec:authorize="hasRole('ROLE_Administrador')"  th:replace="fragments/navbar :: navbar-admin-menu-cursos"></ul>

        <ul class="navbar-nav navbar-nav-right">
          <!--
          <li class="nav-item dropdown d-none d-lg-flex">
            <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
              <i class="flag-icon flag-icon-gb"></i>
              English
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-fr"></i>
                French
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-es"></i>
                Espanol
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-lt"></i>
                Latin
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-ae"></i>
                Arabic
              </a>
            </div>
          </li> -->

          <li class="nav-item dropdown" th:if="${usuario.isPerfilCompleto()}">
            
            <a  th:unless="${#lists.isEmpty(notificacoes)}" class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            
            <a  th:if="${#lists.isEmpty(notificacoes)}" class="nav-link" id="notificationDropdown" th:href="@{/dashboard/usuario/notificacoes}">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" th:unless="${#lists.isEmpty(notificacoes)}">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left" th:if="${#lists.size(notificacoes)} &gt; 1">Você tem <span th:text="${#lists.size(notificacoes)}"></span> novas notificações
                </p>
                <p class="mb-0 font-weight-normal float-left" th:unless="${#lists.size(notificacoes)} &gt; 1">Você tem <span th:text="${#lists.size(notificacoes)}"></span> nova notificação
                </p>
              </a>
              <div class="dropdown-divider"></div>
              <a th:href="@{/dashboard/usuario/notificacoes}" class="dropdown-item preview-item" th:each="notificacao : ${notificacoes}">
                <div class="preview-thumbnail">
                  <div th:class="${notificacao.status}">
                    <i th:class="${notificacao.icone}"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium" th:text="${notificacao.titulo}">Application Error</h6>
                  <p class="font-weight-light small-text" th:if="${notificacao.periodo} == 0">
                    Agora mesmo
                  </p>
                  <p class="font-weight-light small-text" th:if="${notificacao.periodo} == 1">
                    Há um dia atrás
                  </p>
                  <p class="font-weight-light small-text" th:if="${notificacao.periodo} &gt; 1">
                    Há <span th:text="${notificacao.periodo}"></span> dias atrás
                  </p>
                </div>
              </a>
            </div>
          </li>
          
          <!--<li id="message-dropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="icon-envelope mx-0"></i>
              <span class="count"></span>
            </a>
            <div  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <div class="dropdown-item">
                  <p class="mb-0 font-weight-normal float-left">Você tem novas mensagens
                  </p>
                  <span class="badge badge-info badge-pill float-right">veja</span>
                </div>
                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-medium">Adminsitrador
                      <span class="float-right font-weight-light small-text">agora mesmo</span>
                    </h6>
                    <p id="mensagem" class="font-weight-light small-text">
                      Administrador alterou seus dados
                    </p>
                  </div>
                </a>
            </div> 
          </li> -->

          <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="icon-grid"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
 	</nav>

  <!-- navbar modulo online -->     
   <nav th:fragment="navbar-modulo-online" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      
      <div th:replace="fragments/navbar :: navbar-logo"></div>

      <div class="navbar-menu-wrapper d-flex align-items-center">

        <ul sec:authorize="hasRole('ROLE_Administrador')"  th:replace="fragments/navbar :: navbar-admin-menu-usuarios"></ul>

        <ul sec:authorize="hasRole('ROLE_Administrador')"  th:replace="fragments/navbar :: navbar-admin-menu-unidades"></ul>

        <ul sec:authorize="hasRole('ROLE_Administrador')"  th:replace="fragments/navbar :: navbar-admin-menu-cursos"></ul>

        <ul class="navbar-nav navbar-nav-right">
          <!--
          <li class="nav-item dropdown d-none d-lg-flex">
            <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
              <i class="flag-icon flag-icon-gb"></i>
              English
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-fr"></i>
                French
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-es"></i>
                Espanol
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-lt"></i>
                Latin
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-ae"></i>
                Arabic
              </a>
            </div>
          </li> -->

          <li class="nav-item dropdown" th:if="${usuario.isPerfilCompleto()}">
            
            <a  th:unless="${#lists.isEmpty(notificacoes)}" class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            
            <a  th:if="${#lists.isEmpty(notificacoes)}" class="nav-link" id="notificationDropdown" th:href="@{/dashboard/usuario/notificacoes}">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" th:unless="${#lists.isEmpty(notificacoes)}">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left" th:if="${#lists.size(notificacoes)} &gt; 1">Você tem <span th:text="${#lists.size(notificacoes)}"></span> novas notificações
                </p>
                <p class="mb-0 font-weight-normal float-left" th:unless="${#lists.size(notificacoes)} &gt; 1">Você tem <span th:text="${#lists.size(notificacoes)}"></span> nova notificação
                </p>
              </a>
              <div class="dropdown-divider"></div>
              <a th:href="@{/dashboard/usuario/notificacoes}" class="dropdown-item preview-item" th:each="notificacao : ${notificacoes}">
                <div class="preview-thumbnail">
                  <div th:class="${notificacao.status}">
                    <i th:class="${notificacao.icone}"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium" th:text="${notificacao.titulo}">Application Error</h6>
                  <p class="font-weight-light small-text" th:if="${notificacao.periodo} == 0">
                    Agora mesmo
                  </p>
                  <p class="font-weight-light small-text" th:if="${notificacao.periodo} == 1">
                    Há um dia atrás
                  </p>
                  <p class="font-weight-light small-text" th:if="${notificacao.periodo} &gt; 1">
                    Há <span th:text="${notificacao.periodo}"></span> dias atrás
                  </p>
                </div>
              </a>
            </div>
          </li>
          
          <!--<li id="message-dropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="icon-envelope mx-0"></i>
              <span class="count"></span>
            </a>
            <div  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <div class="dropdown-item">
                  <p class="mb-0 font-weight-normal float-left">Você tem novas mensagens
                  </p>
                  <span class="badge badge-info badge-pill float-right">veja</span>
                </div>
                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-medium">Adminsitrador
                      <span class="float-right font-weight-light small-text">agora mesmo</span>
                    </h6>
                    <p id="mensagem" class="font-weight-light small-text">
                      Administrador alterou seus dados
                    </p>
                  </div>
                </a>
            </div> 
          </li> -->

          <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="icon-grid"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
  </nav>

</html>
