<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >


<!-- credenciais do usuario -->	
<li th:fragment="credenciais" class="nav-item nav-profile">
		<div class="nav-link">
			<div class="profile-image">
				<a th:href="@{/dashboard/}"><img th:if="${usuario.imagens == null}" src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"/></a>
        <a th:href="@{/dashboard/}"><img th:if="${usuario.imagens != null}" th:src="@{/dashboard/usuario/avatar.png}" alt="image"/></a>
				<span class="online-status online"></span> <!--change class online to offline or busy as needed-->
			</div>
			<div class="profile-name">
				<p class="name">
					<span th:text="${usuario.nome}"></span>
				</p>
				<p class="designation" th:text="${usuario.status}">Administrador</p>
				<a class="btn btn-info" th:href="@{/logout}">Deslogar</a>
			</div>
		</div>
</li>

<!-- side bar escondido com configurações do tema -->
<div th:fragment="configuracoes-tema" class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles primary"></div>
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles pink"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default"></div>
            </div>
          </div>
</div>

<!-- side bar escondido com lista de tarefas -->
<div th:fragment="sidebar-escondido" id="right-sidebar" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <ul class="nav nav-tabs" id="setting-panel" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
            </li>
          </ul>
          <div class="tab-content" id="setting-content">
            <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
              <div class="add-items d-flex px-3 mb-0">
                <form class="form w-100">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                  </div>
                </form>
              </div>
              <div class="list-wrapper px-3">
                <ul class="d-flex flex-column-reverse todo-list">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        Team review meeting at 3.00 PM
                      </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        Prepare for presentation
                      </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        Resolve all the low priority tickets due today
                      </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked>
                        Schedule meeting for next week
                      </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked>
                        Project review
                      </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                </ul>
              </div>
              <div class="events py-4 border-bottom px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                  <span>Feb 11 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                <p class="text-gray mb-0">build a js based app</p>
              </div>
              <div class="events pt-4 px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                  <span>Feb 7 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                <p class="text-gray mb-0 ">Call Sarah Graves</p>
              </div>
            </div>
            <!-- To do section tab ends -->
            <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
              <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
              </div>
              <ul class="chat-list">
                <li class="list active">
                  <div class="profile"><img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Thomas Douglas</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">19 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"><span class="offline"></span></div>
                  <div class="info">
                    <div class="wrapper d-flex">
                      <p>Catherine</p>
                    </div>
                    <p>Away</p>
                  </div>
                  <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                  <small class="text-muted my-auto">23 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Daniel Russell</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">14 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"><span class="offline"></span></div>
                  <div class="info">
                    <p>James Richardson</p>
                    <p>Away</p>
                  </div>
                  <small class="text-muted my-auto">2 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Madeline Kennedy</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">5 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Sarah Graves</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">47 min</small>
                </li>
              </ul>
            </div>
            <!-- chat tab ends -->
          </div>
</div>

<!-- sidebar com menu principal -->
<nav th:fragment="sidebar-principal" class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li th:replace="fragments/sidebar :: credenciais"></li>


           <!-- <li class="nav-item">
              <a class="nav-link" href="../../index.html">
                <i class="icon-rocket menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                <span class="badge badge-success">New</span>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/usuario/perfil}">
                <i class="icon-shield menu-icon"></i>
                <span class="menu-title">Perfil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-presencial" aria-expanded="false" aria-controls="page-presencial">
                <i class="icon-check menu-icon"></i>
                <span class="menu-title">Eventos presenciais</span>
                <span class="badge badge-danger">3</span>
              </a>
              <div class="collapse" id="page-presencial">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/eventos/presenciais}">Publicados</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/usuario/minhas/inscricoes/presenciais}">Minhas inscrições</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/usuario/eventos/presenciais/progresso}">Acompanhe</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-online" aria-expanded="false" aria-controls="page-online">
                <i class="icon-globe menu-icon"></i>
                <span class="menu-title">Eventos online</span>
                <span class="badge badge-info">2</span>
              </a>
              <div class="collapse" id="page-online">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/eventos/online}">Publicados</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/usuario/eventos/online/progresso}">Acompanhe</a></li>
                </ul>
              </div>
            </li>

             <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto()}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-badge menu-icon"></i>
                <span class="menu-title">+ Eventos</span>
                <span class="badge badge-success">3</span>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/eventos/presencial}">Eventos presenciais</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/eventos/online}">Eventos online</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/eventos/presencial/categorias}">Categorias</a></li>
                </ul>
              </div>
            </li>
            
             <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto()}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <i class="icon-user menu-icon"></i>
                <span class="menu-title">+ Usuários</span>
                <span class="badge badge-warning">3</span>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/usuarios/atuais}">Usuários </a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/usuarios/opcoes}"> Opções sexuais</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/usuarios/escolaridades}">Escolaridade</a></li>
                </ul>
              </div>
            </li>
           
            <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto()}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#e-commerce" aria-expanded="false" aria-controls="e-commerce">
                <i class="icon-briefcase menu-icon"></i>
                <span class="menu-title">+ Locais</span>
                <span class="badge badge-info">3</span>
              </a>
              <div class="collapse" id="e-commerce">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/unidades}">Unidades de trabalho</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/departamentos}">Departamentos</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/cargos}">Cargos</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/usuario/notificacoes}">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">Notificações</span>
              </a>
            </li>
          </ul>
</nav>

<!-- sidebar para evento online admin -->
<nav th:fragment="sidebar-modulo-online-admin" class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li th:replace="fragments/sidebar :: credenciais"></li>

             <div class="nav-link pt-2 pb-2 border-top">
              <small class="text-success font-weight-bold" th:text="${evento.titulo}"></small>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-white">MÓDULO-<span th:text="${modulo.posicao}"></span></p>
              <p class="text-muted font-weight-bold" th:text="${modulo.titulo}"></p>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">ATIVIDADES:</p>
            </div>

            <li class="nav-item" th:each="ativ : ${modulo.atividades}">
              <a class="nav-link" th:href="@{/dashboard/admin/eventos/online/modulos/{id}/atividade/{posicao}(id=${modulo.id},posicao=${ativ.posicao})}">
                <i class="icon-fire menu-icon text-white"></i>
                Atividade-<span class="menu-title" th:text="${ativ.posicao}"></span>
              </a>
              <p class="text-muted font-weight-bold ml-5 mr-1" th:text="${ativ.titulo}"></p>
            </li>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">MÓDULOS:</p>
              <select id="select-modulos" class="form-control">
                <option th:each="modu : ${evento.modulos}"
                        th:text="${modu.titulo}"
                        th:value="${modu.id}"
                        th:selected="${modu.id == modulo.id}"></option>
              </select>
            </div>
           
          </ul>
</nav>

<!-- sidebar para evento online -->
<nav th:fragment="sidebar-modulo-online" class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li th:replace="fragments/sidebar :: credenciais"></li>

             <div class="nav-link pt-2 pb-2 border-top">
              <small th:unless="${evento.getInscricao(usuario).isFinalizado()}" class="text-muted font-weight-bold" th:text="${evento.titulo}"></small>
              <small th:if="${evento.getInscricao(usuario).isFinalizado()}" class="text-success font-weight-bold" th:text="${evento.titulo}"></small>
              <div class="progress progress-sm" th:with="progresso=${evento.progresso(usuario)}">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:' + ${progresso} +'%;'" th:attr="aria-valuenow='+ ${progresso} +'" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-white">MÓDULO-<span th:text="${modulo.posicao}"></span></p>
              <p class="text-muted font-weight-bold" th:text="${modulo.titulo}"></p>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">ATIVIDADES:</p>
            </div>

            <li class="nav-item" th:each="ativ : ${modulo.atividades}">
              <a class="nav-link" th:href="@{/dashboard/eventos/online/modulos/{id}/atividade/{posicao}(id=${modulo.id},posicao=${ativ.posicao})}">
                <i class="icon-fire menu-icon text-white"></i>
                Atividade-<span class="menu-title" th:text="${ativ.posicao}"></span>
              </a>
              <p th:if="${evento.getInscricao(usuario).realizou(ativ)}" class="text-success font-weight-bold ml-5 mr-1" th:text="${ativ.titulo}"></p>

               <p th:unless="${evento.getInscricao(usuario).realizou(ativ)}" class="text-muted font-weight-bold ml-5 mr-1" th:text="${ativ.titulo}"></p>
            </li>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">MÓDULOS:</p>
              <select id="select-modulos" class="form-control">
                <option th:each="modu : ${evento.modulos}"
                        th:text="${modu.titulo}"
                        th:value="${modu.id}"
                        th:selected="${modu.id == modulo.id}"></option>
              </select>
            </div>

            <li class="nav-item border-top">
              <a class="nav-link" th:href="@{/dashboard/eventos/online}">
                <i class="icon-badge menu-icon text-white"></i> <span class="menu-title">Trocar de evento</span>
              </a>
            </li>
           
          </ul>
</nav>

</html>