
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
  <title>ZEUS | Profile</title>
  <link rel="stylesheet" th:href="@{~/css/dropify.min.css}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
   
   <!-- navbar -->
    <nav th:replace="fragments/navbar :: navbar-principal"></nav>
    <!-- end navbar -->
   
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:../../partials/_settings-panel.html -->
        
        <!-- theme-setting-wrapper -->
        <div th:replace="fragments/sidebar :: configuracoes-tema"></div>
        <!-- end  theme-setting-wrapper -->
        
        <!-- right-sidebar -->
        <div th:replace="fragments/sidebar :: sidebar-escondido"></div>
        <!-- end right-sidebar -->
        
        <!-- sidebar sidebar-offcanvas -->
        <nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
        <!-- end sidebar sidebar-offcanvas -->
        
        <!-- partial -->
        <div class="content-wrapper">
          <div class="row user-profile">
            <div class="col-lg-4 side-left d-flex align-items-stretch">
              <div class="row">
                <div class="col-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body avatar">
                      <h4 class="card-title">Informações</h4>
                      <img src="../../images/faces/face6.jpg" alt="">
                      <p class="name" th:text="${usuario.nome}"></p>
                      <p class="designation" th:text="${usuario.codigoFuncional.cargo.nome}"></p>
                      <a class="d-block text-center text-dark" href="#" th:text="${usuario.email}"></a>
                      <a class="d-block text-center text-dark" href="#" th:each="telefone : ${usuario.dadosPessoais.telefones}" th:text="${telefone.numero}"></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 stretch-card">
                  <div class="card">
                    <div class="card-body overview">
                      <h4 class="card-title">Seus cursos</h4>
                      <ul class="achivements">
                        <li><p>0</p><p>Inscritos</p></li>
                        <li><p>0</p><p>Andamento</p></li>
                        <li><p>0</p><p>Completos</p></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 side-right stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
                    <h4 class="card-title mb-0">Detalhes</h4>
                    <ul class="nav nav-tabs tab-solid tab-solid-primary mb-0" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-expanded="true">Informações</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="avatar-tab" data-toggle="tab" href="#avatar" role="tab" aria-controls="avatar">Avatar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security">Segurança</a>
                      </li>
                    </ul>
                  </div>
                  <div class="wrapper">
                    <hr>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
                        <form action="#">

                          <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" placeholder="Change user name">
                          </div>
                          
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Change email address">
                          </div>
                          
                          <div class="form-group">
                            <label for="mobile">CPF</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Change mobile number">
                          </div>

                          <div class="form-group">
                            <label for="website">Website URL</label>
                            <input type="text" class="form-control" id="website" placeholder="Change website url">
                          </div>
                          <div class="form-group mt-5">
                            <button type="submit" class="btn btn-success mr-2">Update</button>
                            <button class="btn btn-outline-danger">Cancel</button>
                          </div>
                        </form>
                      </div><!-- tab content ends -->
                      <div class="tab-pane fade" id="avatar" role="tabpanel" aria-labelledby="avatar-tab">
                        <div class="wrapper mb-5 mt-4">
                          <span class="badge badge-warning text-white">Note : </span>
                          <p class="d-inline ml-3 text-muted">Image size is limited to not greater than 1MB .</p>
                        </div>
                        <form action="#">
                          <input type="file" class="dropify" data-max-file-size="1mb" data-default-file="../../images/faces/face6.jpg"/>
                          <div class="form-group mt-5">
                            <button type="submit" class="btn btn-success mr-2">Update</button>
                            <button class="btn btn-outline-danger">Cancel</button>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                        <form th:action="@{/dashboard/redefinir-senha}" method="post">
                          <input type="hidden" name="id" th:value="${usuario.id}"/>
                          <div class="form-group">
                            <label for="change-password">Alterar a senha</label>
                            <input id="senha" type="password" class="form-control" placeholder="digite a nova senha" name="senha" required="true" />
                          </div>
                          <div class="form-group">
                            <input id="confirme" type="password" class="form-control" placeholder="digite novamente a nova senha" required="true" />
                          </div>
                          <div class="form-group mt-5">
                            <button id="btn-action" type="submit" class="btn btn-success mr-2">Alterar</button>
                            <button class="btn btn-outline-danger">Cancel</button>
                          </div>
                        </form>
                      </div>

                      <div th:if="${alert != null}">
                        <div th:class="${alert}" role="alert">
                          <i class="mdi mdi-alert-circle"></i>
                          <span th:text="${message}"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2017 <a href="#">UrbanUI</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <span th:replace="fragments/base-script :: base"></span>
  <script th:src="@{~/js/dropify.min.js}"></script>
  <span th:replace="fragments/base-script :: plugins"></span>
  <script th:src="@{~/js/dropify.js}"></script>

  <script>

    $(document).ready(function(){

      $('#senha').on('keyup', statusCompare);
      $('#confirme').on('keyup', statusCompare);

    });

    function statusCompare(){
      if($('#senha').val() == $('#confirme').val()){
        $('#confirme').removeClass('is-invalid');
        $('#senha').removeClass('is-invalid');
        $('#confirme').addClass('is-valid');
        $('#senha').addClass('is-valid');
        $('#btn-action').removeClass('disabled');
      }else{
        $('#confirme').removeClass('is-valid');
        $('#senha').removeClass('is-valid');
        $('#confirme').addClass('is-invalid');
        $('#senha').addClass('is-invalid');
        $('#btn-action').addClass('disabled');
      }
    }


  </script>

</body>

</html>
