
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Eventos</title>
<link rel="stylesheet" th:href="@{~/css/dropify.min.css}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap-datepicker.min.css}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap-clockpicker.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- theme-setting-wrapper -->
				<div th:replace="fragments/sidebar :: configuracoes-tema"></div>
				<!-- end  theme-setting-wrapper -->

				<!-- right-sidebar -->
				<div th:replace="fragments/sidebar :: sidebar-escondido"></div>
				<!-- end right-sidebar -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row -->
					<div class="row">

						<!-- div 1 -->
						<div class="col-lg-12 d-flex align-items-stretch grid-margin">
							<!-- row -->
							<div class="row flex-grow">

								<div class="col-12 grid-margin">
									<a class="btn btn-outline-success" th:href="@{/dashboard/admin/eventos/presencial/novo}">+ Novo</a>
								</div>

								<div class="col-12 grid-margin" th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i> <span
												th:text="${message}"></span>
										</div>
								</div>
								
								<div class="col-12 grid-margin" th:unless="${#lists.isEmpty(eventos)}" th:each="evento : ${eventos}" >
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-10">
													<a th:href="@{/dashboard/admin/eventos/presencial/detalhes/{id}(id=${evento.id})}" th:text="${evento.titulo}"></a> 
												</div>
											<!--	<div class="col-lg-2">
													<a class="btn btn-primary" href="#">Adicionar sobre</a> 
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->
						</div>
						<!-- end div 1 -->

					</div>
					<!-- end row -->
				</div>
				<!-- end content-wrapper -->
				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/dropify.min.js}"></script>
	<script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{~/js/bootstrap-clockpicker.min.js}"></script>
	<script th:src="@{~/js/jquery.inputmask.bundle.js}"></script>
	<script th:src="@{~/js/select2.min.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>
	<script th:src="@{~/js/dropify.js}"></script>

	<script>

	    $(document).ready(function(){

	     $('#titulo').on('input', () => {$('#qtd-titulo').text($('#titulo').val().length)});
		 $('#descricao').on('input', () => {$('#qtd-descricao').text($('#descricao').val().length)});

		 $('#datepicker-popup-inicio').datepicker({
	      format: 'dd/mm/yyyy',
	        language: 'pt-BR',
	      });

		 $('#datepicker-popup-termino').datepicker({
	      format: 'dd/mm/yyyy',
	        language: 'pt-BR',
	      });
	    	
	     $('.clockpicker').clockpicker({donetext: 'definir'});	
	    });

	    
  	</script>

  	<script th:if="${evento != null}" th:inline="javascript">

	/*<![CDATA[*/
		$(() =>{

			updateDataInicio();
			updateDataTermino();

		});

		 function updateDataInicio(){
	      if($('#data-inicio').val() != ''){
	        console.log('dataInicio foi executado');
	        $('#datepicker-popup-inicio').datepicker('update', $('#data-inicio').val());
	      }
    	}

    	 function updateDataTermino(){
	      if($('#data-termino').val() != ''){
	        console.log('dataTermino foi executado');
	        $('#datepicker-popup-termino').datepicker('update', $('#data-termino').val());
	      }
    	}
	/*]]>*/
	</script>

	<script th:inline="javascript">

	/*<![CDATA[*/
		(function($) {
			  'use strict';

			  if($(".js-select-single").length){
			    $(".js-select-single").select2();
			  }
		})(jQuery);
	/*]]>*/
	</script>

</body>

</html>
