
<!-- form item --> 
<div class="col-lg-4">
  <div class="form-group">
    <label for="cep">CEP</label>
    <input type="text" class="form-control" aria-describedby="cepHelp" placeholder="informe seu cep" name="cep" required="true" />
    <small id="cepHelp" class="form-text text-muted"></small>
  </div>
</div>

<!-- form item -->
<div class="col-lg-4">
  <div class="form-group">
    <label for="bairro">Bairro</label>
    <input type="text" class="form-control" aria-describedby="bairroHelp" placeholder="informe seu bairro" name="bairro" required="true" />
    <small id="bairroHelp" class="form-text text-muted"></small>
  </div>
</div>

<!-- form item -->
<div class="col-lg-8">
  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" class="form-control" aria-describedby="enderecoHelp" placeholder="informe seu endereço" name="endereco" required="true" />
    <small id="enderecoHelp" class="form-text text-muted"></small>
  </div>
</div>

<!-- form item -->
<div class="col-lg-4">
  <div class="form-group">
    <label for="numero">Número</label>
    <input type="text" class="form-control" aria-describedby="numeroHelp" placeholder="informe seu número" name="cidade" required="true" />
    <small id="numeroHelp" class="form-text text-muted"></small>
  </div>
</div>

<!-- form item -->
<div class="col-lg-4">
  <div class="form-group">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control" aria-describedby="cidadeHelp" placeholder="informe sua cidade" name="cidade" required="true" />
    <small id="cidadeHelp" class="form-text text-muted"></small>
  </div>
</div>

<!-- form item -->
<div class="col-lg-4">
  <div class="form-group">
    <label for="estado">Estado</label>
    <input type="text" class="form-control" aria-describedby="estadoHelp" placeholder="informe seu estado" name="estado" required="true" />
    <small id="estadoHelp" class="form-text text-muted"></small>
  </div>
</div>