<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{})">
<title>ZEUS | Eventos presenciais</title>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- theme-setting-wrapper -->
				<div th:replace="fragments/sidebar :: configuracoes-tema"></div>
				<!-- end  theme-setting-wrapper -->

				<!-- right-sidebar -->
				<div th:replace="fragments/sidebar :: sidebar-escondido"></div>
				<!-- end right-sidebar -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row -->
					<div class="row">

						<!-- evento 
						<div class="col-md-6 col-lg-4 grid-margin stretch-card"
							th:unless="${#lists.isEmpty(eventos)}"
							th:each="evento : ${eventos}" 
							th:if="(${#lists.contains(evento.permissoes.sexos,usuario.dadosPessoais.sexo)} 
							or
							${#lists.contains(evento.permissoes.sexos,'todos')})  
							and
							(${#lists.contains(evento.permissoes.unidades, usuario.codigoFuncional.unidadeTrabalho.nome)} 
							or
							${#lists.contains(evento.permissoes.unidades,'todos')}) 
							and
							(${evento.permissoes.destinado} == ${usuario.codigoFuncional.tipo} 
							or
							${evento.permissoes.destinado} == 'todos') 
							and
							(${#lists.contains(evento.permissoes.cargos, usuario.codigoFuncional.cargo.nome)}  
							or
							${#lists.contains(evento.permissoes.cargos, 'todos')})">
							<div id="box"
								th:class="${evento.estilo} != null ? ${evento.estilo.corFundoBox} : 'card bg-primary text-white'">
								<img th:if="${evento.imagemDestaque} != null" class="card-img"
									th:src="@{/imagens/evento/presencial/{id}/imagem-destaque.png(id=${evento.id})}"
									style="opacity: 0.3;" alt="Card image">
								<div
									th:class="${evento.imagemDestaque} != null ? 'card-img-overlay' : 'card-body'">

									<h6 id="titulo"
										th:class="${evento.estilo} != null ? ${evento.estilo.corFundoTitulo} : 'card-title text-white font-weight-bold'"
										th:text="${evento.titulo}"></h6>

									<p id="descricao"
										th:class="${evento.estilo} != null ? ${evento.estilo.corFundoDescricao} : 'card-text small'"
										th:text="${evento.descricao}"></p>

									<a th:href="@{/dashboard/eventos/presencial/detalhes/{id}(id=${evento.id})}" class="btn btn-primary btn-rounded btn-fw"><i
										class="icon-info"></i>Saber mais</a>

								</div>
							</div>
						</div>
						 end evento -->

						 <!-- evento -->
						<div class="col-md-6 col-lg-4 grid-margin stretch-card"
							th:unless="${#lists.isEmpty(eventos)}"
							th:each="evento : ${eventos}" 
							th:if="${evento.permissoes.valida(usuario)}">
							<div id="box"
								th:class="${evento.estilo} != null ? ${evento.estilo.corFundoBox} : 'card bg-primary text-white'">
								<img th:if="${evento.imagemDestaque} != null" class="card-img"
									th:src="@{/imagens/evento/presencial/{id}/imagem-destaque.png(id=${evento.id})}"
									style="opacity: 0.3;" alt="Card image">
								<div
									th:class="${evento.imagemDestaque} != null ? 'card-img-overlay' : 'card-body'">

									<h6 id="titulo"
										th:class="${evento.estilo} != null ? ${evento.estilo.corFundoTitulo} : 'card-title text-white font-weight-bold'"
										th:text="${evento.titulo}"></h6>

									<p id="descricao"
										th:class="${evento.estilo} != null ? ${evento.estilo.corFundoDescricao} : 'card-text small'"
										th:text="${evento.descricao}"></p>

									<a th:href="@{/dashboard/eventos/presencial/detalhes/{id}(id=${evento.id})}" class="btn btn-primary btn-rounded btn-fw"><i
										class="icon-info"></i>Saber mais</a>

								</div>
							</div>
						</div>
						<!-- end evento -->

					</div>
					<!-- end row -->
				</div>
				<!-- end content-wrapper -->
				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<span th:replace="fragments/base-script :: plugins"></span>

</body>

</html>
