
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
	<title>ZEUS | Verificação do perfil</title>
	<link rel="stylesheet" th:href="@{~/css/bootstrap-datepicker.min.css}" />
	<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
	<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
</head>

<body>
	<!-- container-scroller -->
	<div class="container-scroller">
		
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->
		
		<!-- container-fluid -->
		<div class="container-fluid page-body-wrapper">
			<!-- row-offcanvas -->
			<div class="row row-offcanvas row-offcanvas-right">
				
				<!-- theme-setting-wrapper -->
				<div th:replace="fragments/sidebar :: configuracoes-tema"></div>
				<!-- end  theme-setting-wrapper -->
				
				<!-- right-sidebar -->
				<div th:replace="fragments/sidebar :: sidebar-escondido"></div>
				<!-- end right-sidebar -->
				
				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->
				
				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row justify-content -->
					<div class="row justify-content-center">

						<div class="col-12 grid-margin" th:if="${alert != null}">
							<div th:if="${alert != null}">
								<div th:class="${alert}" role="alert">
									<i class="mdi mdi-alert-circle"></i> <span
												th:text="${message}"></span>
									<button type="button" class="close" data-dismiss="alert"
												aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>
						</div>


						<!-- div title -->
						<div class="col-lg-12 mb-2">
							<div class="card text-center pt-2 pb-2">
								<div class="card-body">
									<h2 class="card-title">Vamos completar seu cadastro</h2>
									<p class="h5">Para que você tenha acesso a todos os recursos da plataforma, primeiro precisamos completar o seu cadastro</p>
								</div>
							</div>
						</div> 
						<!-- end div title -->

						<!-- card formulario -->
						<div class="col-md-12 grid-margin">

							<!-- row -->
							<div class="row">

								<!-- col -->
								<div class="col-12">
									<!-- card -->
									<div class="card">
										<!-- card body -->
										<div class="card-body">
											
											<!-- tab content -->
											<!-- ul tab -->
											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<!-- li tab control one -->
												<li class="nav-item">
													<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"  aria-selected="true">Funcionários</a>
												</li>
												<!-- li tab control two -->
												<li class="nav-item">
													<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Outros</a>
												</li>
											</ul>
											<!-- end ul tab -->
											
											<!-- div tab -->
											<div class="tab-content" id="myTabContent">
												<!-- tab content one -->
												<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
													<h4 class="card-title">Apenas funcionários</h4>
													<p class="card-description">
														Por favor informe seu CPF, não é funcionário? Clique em Outros
													</p>
													<!-- form -->
													
													<!-- verificação -->
													<form th:if="${dadosPessoais} == null and ${novoCpf} == null" class="" th:action="@{/dashboard/verifica-dados}" method="post">
														<!-- row justify-content -->
														<div class="row justify-content-between">

															<!-- form item -->
															<div class="col-lg-12">   
																<div class="form-group">
																	<label for="nome">Nome</label>
																	<input type="text" class="form-control" aria-describedby="nomeHelp" placeholder="Nome completo" name="nome" required="true" th:value="${usuario.nome}" disabled="disabled"/>
																	<small id="nomeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="cpf">CPF</label>
																	<input id="cpf" type="text" class="form-control" aria-describedby="cpfHelp" placeholder="digite apenas números" name="cpf" pattern="[0-9]+" required="true"  maxlength="11"/>
																	<small id="cpfHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- button -->
															<div class="col-lg-12">
																<button type="submit" class="btn bt-lg btn-success">Enviar</button>
															</div>
															<!-- end button -->

														</div>
													</form>		
													<!-- end verificação -->

													<!-- cadastrados -->
													<form th:if="${dadosPessoais} != null" class="" th:action="@{/dashboard/confirmar-dados}" method="post">

														<div class="row justify-content-between">

															<input type="hidden" name="id" th:value="${usuario.id}" />
															<input type="hidden" name="dadosPessoais" th:value="${dadosPessoais.id}" />
															<input type="hidden" name="codigoFuncional" th:value="${codigoFuncional.id}" />
															<input type="hidden" name="dadosPessoais.usuario" th:value="${usuario.id}" />
															<input type="hidden" name="codigoFuncional.usuario" th:value="${usuario.id}" />

															<!-- form item -->
															<div class="col-lg-12">   
																<div class="form-group">
																	<label for="nome">Nome</label>
																	<input type="text" class="form-control" aria-describedby="nomeHelp" placeholder="Nome completo" name="nome" required="true" th:value="${usuario.nome}"/>
																	<small id="nomeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<input type="hidden" name="dadosPessoais.cpf" th:value="${dadosPessoais.cpf}" />

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="cpf">CPF</label>
																	<input id="cpf" type="text" class="form-control" aria-describedby="cpfHelp" placeholder="digite apenas números" pattern="[0-9]+" required="true"  maxlength="11" th:value="${dadosPessoais.cpf}" disabled="true" />
																	<small id="cpfHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<input id="nascimento" type="hidden"  
															th:value="${#temporals.format(dadosPessoais.nascimento, 'dd/MM/yyyy')}"/>

															<div class="col-lg-6">
																<div class="form-group">
																	<label for="nascimento">Nascimento</label>
																	<div id="datepicker-popup" class="input-group date datepicker">
																		<input id="datepicker" type="text" class="form-control" name="dadosPessoais.nascimento"/>
																		<div class="input-group-addon input-group-text">
																			<span class="mdi mdi-calendar"></span>
																		</div>
																	</div>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="sexo">Sexo</label>
																	<select class="form-control js-select-single" aria-describedby="sexoHelp" name="dadosPessoais.sexo" required="true">
																		<option th:if="${sexos != null}" th:each="sexo : ${sexos}"  
																		th:text="${sexo.display}" 
																		th:value="${sexo.nome}"
																		th:selected="${sexo.nome == dadosPessoais.sexo}"></option>
																	</select>
																	<small id="sexoHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6" th:unless="${#lists.isEmpty(dadosPessoais.telefones)}">
																	<div class="form-group" th:with="telefone=${dadosPessoais.telefones[0]}">
																		<label for="celular">Celular</label>
																		<input id="celular" type="text" class="form-control" aria-describedby="celularHelp" placeholder="Informe seu telefone" name="numero" th:value="${telefone.numero}" />
																		<small id="celularHelp" class="form-text text-muted"></small>
																	</div>
															</div>

														<!-- form item -->
														<div class="col-lg-6" th:if="${#lists.isEmpty(dadosPessoais.telefones)}">	
																<div class="form-group">
																		<label for="celular">Celular</label>
																		<input id="celular" type="text" class="form-control" aria-describedby="celularHelp" placeholder="Informe seu telefone" name="numero"/>
																		<small id="celularHelp" class="form-text text-muted"></small>
																</div>
														</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="codigoFuncional">Código funcional</label>
																	<input type="text" class="form-control" aria-describedby="codigoFuncionalHelp" placeholder="Informe sua matrícula" name="codigoFuncional.codigo" pattern="[0-9]+" th:value="${codigoFuncional.codigo}"/>
																	<small id="codigoFuncionalHelp" class="form-text text-muted"></small>
																</div>
															</div>


															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																	<label for="unidade">Unidade de trabalho</label>
																	<select class="form-control js-select-single" aria-describedby="unidadeHelp" name="codigoFuncional.unidadeTrabalho">
																		<option th:if="${unidades != null}" th:each="unidade : ${unidades}"  th:text="${unidade.nome}" 
																		th:value="${unidade.id}"
																		th:selected="${unidade.id == codigoFuncional.unidadeTrabalho.id}"></option>
																	</select>
																	<small id="unidadeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																	<label for="cargo">Cargo</label>
																	<select class="form-control js-select-single" aria-describedby="cargoHelp" name="codigoFuncional.cargo">
																		<option th:if="${cargos != null}" th:each="cargo : ${cargos}"  
																		th:text="${cargo.nome}" 
																		th:value="${cargo.id}"
																		th:selected="${cargo.id == codigoFuncional.cargo.id}"></option>
																	</select>
																	<small id="cargoHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																	<label for="escolaridade">Escolaridade</label>
																	<select name="dadosPessoais.escolaridade" class="form-control js-select-single" aria-describedby="escolaridadeHelp">
																		<option th:if="${escolaridades != null}" th:each="escolaridade : ${escolaridades}"  
																		th:text="${escolaridade.display}" 
																		th:value="${escolaridade.nome}"
																		th:selected="${escolaridade.nome == dadosPessoais.escolaridade}"></option>
																		
																	</select>
																	<small id="escolaridadeHelp" class="form-text text-muted"></small>
																</div>
															</div>

														</div>
														<!-- end row justify-content -->

														<!-- button -->
														<div class="col-lg-12">
															<button type="submit" class="btn bt-lg btn-success">Enviar</button>
														</div>
														<!-- end button -->
													</form>
													<!-- end cadastrados -->

												<!-- novos -->
												<form th:if="${novoCpf} != null" class="" th:action="@{/dashboard/novo/confirmar-dados}" method="post">

														<div class="row justify-content-between">

															<input type="hidden" name="id" th:value="${usuario.id}" />
															<input type="hidden" name="dadosPessoais.usuario" th:value="${usuario.id}" />
															<input type="hidden" name="codigoFuncional.usuario" th:value="${usuario.id}" />

															<!-- form item -->
															<div class="col-lg-12">   
																<div class="form-group">
																	<label for="nome">Nome</label>
																	<input type="text" class="form-control" aria-describedby="nomeHelp" placeholder="Nome completo" name="nome" required="true" th:value="${usuario.nome}"/>
																	<small id="nomeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<input type="hidden" name="dadosPessoais.cpf" th:value="${novoCpf}" />

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="cpf">CPF</label>
																	<input id="cpf" type="text" class="form-control" aria-describedby="cpfHelp" placeholder="digite apenas números" pattern="[0-9]+" required="true"  maxlength="11" th:value="${novoCpf}" disabled="true"/>
																	<small id="cpfHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<input id="novoNascimento" type="hidden" />

															<div class="col-lg-6">
																<div class="form-group">
																	<label for="novoNascimento">Nascimento</label>
																	<div id="datepicker-popup-novo" class="input-group date datepicker">
																		<input id="datepicker-novo" type="text" class="form-control" name="dadosPessoais.nascimento"/>
																		<div class="input-group-addon input-group-text">
																			<span class="mdi mdi-calendar"></span>
																		</div>
																	</div>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="sexo">Sexo</label>
																	<select class="form-control js-select-single" aria-describedby="sexoHelp" name="dadosPessoais.sexo" required="true">
																		<option th:if="${sexos != null}" th:each="sexo : ${sexos}"  
																		th:text="${sexo.display}" 
																		th:value="${sexo.nome}">
																	</option>
																</select>
																<small id="sexoHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="celular">Celular</label>
																	<input id="novoCelular" type="text" class="form-control" aria-describedby="celularHelp" placeholder="Informe seu telefone" name="numero"/>
																	<small id="celularHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="codigoFuncional">Código funcional</label>
																	<input type="text" class="form-control" aria-describedby="codigoFuncionalHelp" placeholder="Informe sua matrícula" name="codigoFuncional.codigo" pattern="[0-9]+"/>
																	<small id="codigoFuncionalHelp" class="form-text text-muted"></small>
																</div>
															</div>


															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																		<label for="unidade">Unidade de trabalho</label>
																		<select class="form-control js-select-single" aria-describedby="unidadeHelp" name="codigoFuncional.unidadeTrabalho">
																			<option th:if="${unidades != null}" th:each="unidade : ${unidades}"  th:text="${unidade.nome}" 
																			th:value="${unidade.id}">
																			</option>
																		</select>
																		<small id="unidadeHelp" class="form-text text-muted"></small>
																</div>
															</div>

																<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																		<label for="cargo">Cargo</label>
																		<select class="form-control js-select-single" aria-describedby="cargoHelp" name="codigoFuncional.cargo">
																			<option th:if="${cargos != null}" th:each="cargo : ${cargos}"  
																			th:text="${cargo.nome}" 
																			th:value="${cargo.id}">
																			</option>
																		</select>
																		<small id="cargoHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																	<label for="escolaridade">Escolaridade</label>
																	<select name="dadosPessoais.escolaridade" class="form-control js-select-single" aria-describedby="escolaridadeHelp">
																		<option th:if="${escolaridades != null}" th:each="escolaridade : ${escolaridades}"  
																		th:text="${escolaridade.display}" 
																			th:value="${escolaridade.nome}">
																		</option>
																	</select>
																	<small id="escolaridadeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															</div>
															<!-- end row justify-content -->

															<!-- button -->
															<div class="col-lg-12">
																<button type="submit" class="btn bt-lg btn-success">Enviar</button>
															</div>
															<!-- end button -->
												</form>
												<!-- end novos -->

									<!-- end form -->
								</div>
								<!-- end tab content one -->

								<!-- tab content two -->
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									<h4 class="card-title">Outros colaboradores</h4>
									<p class="card-description">
										Confirme seus dados
									</p>

									<!-- form -->	
									<!-- verificação -->
									<form th:if="${outrosDadosPessoais} == null and ${outroNovoCpf} == null" class="" th:action="@{/dashboard/outros/verifica-dados}" method="post">
										<!-- row justify-content -->
										<div class="row justify-content-between">

											<!-- form item -->
											<div class="col-lg-12">   
												<div class="form-group">
													<label for="nomeOutro">Nome</label>
													<input type="text" class="form-control" aria-describedby="nomeOutroHelp" placeholder="Nome completo" name="nome" required="true" th:value="${usuario.nome}" disabled="disabled"/>
													<small id="nomeOutroHelp" class="form-text text-muted"></small>
												</div>
											</div>

											<!-- form item -->
											<div class="col-lg-6">
												<div class="form-group">
													<label for="cpfOutro">CPF</label>
													<input id="cpfOutro" type="text" class="form-control" aria-describedby="cpfOutroHelp" placeholder="digite apenas números" name="cpf" pattern="[0-9]+" required="true"  maxlength="11"/>
													<small id="cpfOutroHelp" class="form-text text-muted"></small>
												</div>
											</div>

											<!-- button -->
											<div class="col-lg-12">
												<button type="submit" class="btn bt-lg btn-success">Enviar</button>
											</div>
											<!-- end button -->

										</div>
									</form>
									<!-- end verificação -->

									<!-- cadastrados -->
									<form th:if="${outrosDadosPessoais} != null" class="" th:action="@{/dashboard/outros/confirmar-dados}" method="post">

										<div class="row justify-content-between">

											<input type="hidden" name="id" th:value="${usuario.id}" />
											<input type="hidden" name="dadosPessoais" th:value="${outrosDadosPessoais.id}" />
											<input type="hidden" name="codigoFuncional" th:value="${outrosCodigoFuncional.id}" />
											<input type="hidden" name="dadosPessoais.usuario" th:value="${usuario.id}" />
											<input type="hidden" name="codigoFuncional.usuario" th:value="${usuario.id}" />
											<input type="hidden" name="codigoFuncional.codigo" value="nf"/>
											<input type="hidden" name="codigoFuncional.cargo" value="102"/>

											<!-- form item -->
											<div class="col-lg-12">   
												<div class="form-group">
													<label for="nome">Nome</label>
													<input type="text" class="form-control" aria-describedby="nomeHelp" placeholder="Nome completo" name="nome" required="true" th:value="${usuario.nome}"/>
													<small id="nomeHelp" class="form-text text-muted"></small>
												</div>
											</div>

											<input type="hidden" name="dadosPessoais.cpf" th:value="${outrosDadosPessoais.cpf}" />

											<!-- form item -->
											<div class="col-lg-6">
												<div class="form-group">
													<label for="outroCpf">CPF</label>
													<input id="outroCpf" type="text" class="form-control" aria-describedby="outroCpfHelp" placeholder="digite apenas números" pattern="[0-9]+" required="true"  maxlength="11" th:value="${outrosDadosPessoais.cpf}" disabled="true"/>
													<small id="outroCpfHelp" class="form-text text-muted"></small>
												</div>
											</div>

											<input id="outroNascimento" type="hidden"  
											th:value="${#temporals.format(outrosDadosPessoais.nascimento, 'dd/MM/yyyy')}"/>

											<div class="col-lg-6">
												<div class="form-group">
													<label for="outroNascimento">Nascimento</label>
													<div id="datepicker-popup-outro" class="input-group date datepicker">
														<input id="datepicker-outro" type="text" class="form-control" name="dadosPessoais.nascimento"/>
														<div class="input-group-addon input-group-text">
															<span class="mdi mdi-calendar"></span>
														</div>
													</div>
												</div>
											</div>

											<!-- form item -->
											<div class="col-lg-6">
												<div class="form-group">
													<label for="outroSexo">Sexo</label>
													<select class="form-control js-select-single" aria-describedby="outroSexoHelp" name="dadosPessoais.sexo" required="true" style="width: 100%;">
														<option th:if="${sexos != null}" th:each="sexo : ${sexos}"  
														th:text="${sexo.display}" 
														th:value="${sexo.nome}"
														th:selected="${sexo.nome == outrosDadosPessoais.sexo}"></option>
													</select>
													<small id="outroSexoHelp" class="form-text text-muted"></small>
												</div>
											</div>

											<!-- form item -->
											<div class="col-lg-6" th:unless="${#lists.isEmpty(outrosDadosPessoais.telefones)}">
														<div class="form-group" th:with="telefone=${outrosDadosPessoais.telefones[0]}">
															<label for="outroCelular">Celular</label>
																<input id="outroCelular" type="text" class="form-control" aria-describedby="outroCelularHelp" placeholder="Informe seu telefone" name="numero" th:value="${telefone.numero}" />
																<small id="outroCelularHelp" class="form-text text-muted"></small>
														</div>
											</div>

											<!-- form item -->
											<div class="col-lg-6" th:if="${#lists.isEmpty(outrosDadosPessoais.telefones)}">
													<div class="form-group">
															<label for="outroCelular">Celular</label>
															<input id="outroCelular" type="text" class="form-control" aria-describedby="outroCelularHelp" placeholder="Informe seu telefone" name="numero"/>
															<small id="outroCelularHelp" class="form-text text-muted"></small>
													</div>
											</div>	

											<!-- form item -->
											<div class="col-lg-12">
												<div class="form-group">
													<label for="outroUnidade">Unidade de trabalho</label>
													<select class="form-control js-select-single" aria-describedby="outroUnidadeHelp" name="codigoFuncional.unidadeTrabalho" style="width: 100%;">
														<option th:if="${unidades != null}" th:each="unidade : ${unidades}"  th:text="${unidade.nome}" 
														th:value="${unidade.id}"
														th:selected="${unidade.id == outrosCodigoFuncional.unidadeTrabalho.id}"></option>
													</select>
													<small id="outroUnidadeHelp" class="form-text text-muted"></small>
												</div>
											</div>
											
											<!-- form item -->
											<div class="col-lg-12">
												<div class="form-group">
													<label for="outroEscolaridade">Escolaridade</label>
													<select name="dadosPessoais.escolaridade" class="form-control js-select-single" aria-describedby="outroEscolaridadeHelp" style="width: 100%;">
														<option th:if="${escolaridades != null}" th:each="escolaridade : ${escolaridades}"  
														th:text="${escolaridade.display}" 
														th:value="${escolaridade.nome}"
														th:selected="${escolaridade.nome == outrosDadosPessoais.escolaridade}"></option>

													</select>
													<small id="outroEscolaridadeHelp" class="form-text text-muted"></small>
												</div>
											</div>

										</div>
										<!-- end row justify-content -->

										<!-- button -->
										<div class="col-lg-12">
											<button type="submit" class="btn bt-lg btn-success">Enviar</button>
										</div>
										<!-- end button -->
									</form>
									<!-- end cadastrados -->

									<!-- novos -->
									<form th:if="${outroNovoCpf} != null" class="" th:action="@{/dashboard/outros/novo/confirmar-dados}" method="post">

														<div class="row justify-content-between">

															<input type="hidden" name="id" th:value="${usuario.id}" />
															<input type="hidden" name="dadosPessoais.usuario" th:value="${usuario.id}" />
															<input type="hidden" name="codigoFuncional.usuario" th:value="${usuario.id}" />
															<input type="hidden" name="codigoFuncional.codigo" value="nf"/>
															<input type="hidden" name="codigoFuncional.cargo" value="102"/>

															<!-- form item -->
															<div class="col-lg-12">   
																<div class="form-group">
																	<label for="outroNovoNome">Nome</label>
																	<input id="outroNovoNome" type="text" class="form-control" aria-describedby="outroNovoNomeHelp" placeholder="Nome completo" name="nome" required="true" th:value="${usuario.nome}"/>
																	<small id="outroNovoNomeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<input type="hidden" name="dadosPessoais.cpf" th:value="${outroNovoCpf}" />

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="outroNovoCpf">CPF</label>
																	<input id="outroNovoCpf" type="text" class="form-control" aria-describedby="outroNovoCpfHelp" placeholder="digite apenas números" pattern="[0-9]+" required="true"  maxlength="11" th:value="${outroNovoCpf}" disabled="true"/>
																	<small id="outroNovoCpfHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<input id="outroNovoNascimento" type="hidden"/>

															<div class="col-lg-6">
																<div class="form-group">
																	<label for="outroNovoNascimento">Nascimento</label>
																	<div id="datepicker-popup-outro-novo" class="input-group date datepicker">
																		<input id="datepicker-outro-novo" type="text" class="form-control" name="dadosPessoais.nascimento" />
																		<div class="input-group-addon input-group-text">
																			<span class="mdi mdi-calendar"></span>
																		</div>
																	</div>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="outroNovoSexo">Sexo</label>
																	<select id="outroNovoSexo" class="form-control js-select-single" aria-describedby="outroNovoSexoHelp" name="dadosPessoais.sexo" required="true" style="width: 100%;">
																		<option th:if="${sexos != null}" th:each="sexo : ${sexos}"  
																		th:text="${sexo.display}" 
																		th:value="${sexo.nome}">
																	</option>
																</select>
																<small id="outroNovoSexoHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="outroNovoCelular">Celular</label>
																	<input id="outroNovoCelular" type="text" class="form-control" aria-describedby="outroNovoCelularHelp" placeholder="Informe seu telefone" name="numero"/>
																	<small id="outroNovoCelularHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																		<label for="outroNovoUnidade">Unidade de trabalho</label>
																		<select id="outroNovoUnidade" class="form-control js-select-single" aria-describedby="outroNovoUnidadeHelp" name="codigoFuncional.unidadeTrabalho" style="width: 100%;">
																			<option th:if="${unidades != null}" th:each="unidade : ${unidades}"  th:text="${unidade.nome}" 
																			th:value="${unidade.id}">
																			</option>
																		</select>
																		<small id="outroNovoUnidadeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															<!-- form item -->
															<div class="col-lg-12">
																<div class="form-group">
																	<label for="outroNovoEscolaridade">Escolaridade</label>
																	<select name="dadosPessoais.escolaridade" class="form-control js-select-single" aria-describedby="outroNovoEscolaridadeHelp" style="width: 100%;">
																		<option th:if="${escolaridades != null}" th:each="escolaridade : ${escolaridades}"  
																		th:text="${escolaridade.display}" 
																			th:value="${escolaridade.nome}">
																		</option>
																	</select>
																	<small id="outroNovoEscolaridadeHelp" class="form-text text-muted"></small>
																</div>
															</div>

															</div>
															<!-- end row justify-content -->

															<!-- button -->
															<div class="col-lg-12">
																<button type="submit" class="btn bt-lg btn-success">Enviar</button>
															</div>
															<!-- end button -->
									</form>
									<!-- end novos -->
									
									<!-- end form -->
								</div>
								<!-- end tab content two -->

							</div>
							<!-- end div tab -->
							<!-- end tab content -->


						</div>
						<!-- end card body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col -->
			</div>	
			<!-- end row -->

		</div>
		<!-- end card formulario -->
	</div>
	<!-- end row justify-content -->		
</div>
<!-- end content-wrapper -->

<!-- footer -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- end footer -->
</div>
<!-- end row-offcanvas -->
</div>
<!-- end container-fluid  -->

</div>
<!-- end container-scroller -->

<span th:replace="fragments/base-script :: base"></span>
<script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{~/js/jquery.inputmask.bundle.js}"></script> 
<script th:src="@{~/js/select2.min.js}"></script>  
<span th:replace="fragments/base-script :: plugins"></span>



<script th:if="${novoCpf} != null" th:inline="javascript">

	/*<![CDATA[*/
	$(()=>{

		$('#datepicker-popup-novo').datepicker({
			  format: 'dd/mm/yyyy',
				language: 'pt-BR',
				defaultViewDate: { year: 1960, month: 0, day: 1 }
		});

		$('#datepicker-popup-novo').on('changeDate', function() {
			console.log($('#datepicker-novo').val());
			$('#novoNascimento').val($('#datepicker-novo').val());
		});

		var selector = document.getElementById("novoCelular");
		var im = new Inputmask("(99) 99999-9999");
		im.mask(selector);

		
	});
	/*]]>*/
</script>

<script th:if="${dadosPessoais} != null" th:inline="javascript">

	/*<![CDATA[*/
	$(()=>{

		$('#datepicker-popup').datepicker({
			format: 'dd/mm/yyyy',
				language: 'pt-BR',
				defaultViewDate: { year: 1960, month: 0, day: 1 }
		});

		$('#datepicker-popup').on('changeDate', function() {
			console.log($('#datepicker').val());
			$('#nascimento').val($('#datepicker').val());
		});

		var selector = document.getElementById("celular");
		var im = new Inputmask("(99) 99999-9999");
		im.mask(selector);

		updateData();
	});
	
	function updateData(){
		if($('#nascimento').val() != ''){
			console.log('nascimento foi executado');
			$('#datepicker-popup').datepicker('update', $('#nascimento').val());
		}
	}
	/*]]>*/
</script>

<script th:if="${outrosDadosPessoais} != null" th:inline="javascript">

	/*<![CDATA[*/

	$(()=>{

		$('#datepicker-popup-outro').datepicker({
			format: 'dd/mm/yyyy',
				language: 'pt-BR',
				defaultViewDate: { year: 1960, month: 0, day: 1 }
		});

		$('#datepicker-popup-outro').on('changeDate', function() {
			console.log($('#datepicker-outro').val());
			$('#outroNascimento').val($('#datepicker-outro').val());
		});

		var selector = document.getElementById("outroCelular");
		var im = new Inputmask("(99) 99999-9999");
		im.mask(selector);

		updateData();
		showTableForm();
	});

	function showTableForm(){

		if($('#outroCpf').val().length != undefined){
			var tam;
			tam = $('#outroCpf').val().length;
			if(tam == 11){
				console.log("showtable")
				$('.nav-tabs a:last').tab('show'); 
			}
		}
	}

		function updateData(){
		if($('#outroNascimento').val() != ''){
			console.log('outroNascimento foi executado');
			$('#datepicker-popup-outro').datepicker('update', $('#outroNascimento').val());
		}
	}
	/*]]>*/
</script>

<script th:if="${outroNovoCpf} != null" th:inline="javascript">

	/*<![CDATA[*/

	$(()=>{

		$('#datepicker-popup-outro-novo').datepicker({
				format: 'dd/mm/yyyy',
				language: 'pt-BR',
				defaultViewDate: { year: 1960, month: 0, day: 1 }
		});

		$('#datepicker-popup-outro-novo').on('changeDate', function() {
			console.log($('#datepicker-outro-novo').val());
			$('#outroNovoNascimento').val($('#datepicker-outro-novo').val());
		});

		var selector = document.getElementById("outroNovoCelular");
		var im = new Inputmask("(99) 99999-9999");
		im.mask(selector);

		updateData();
		showTableForm();
	});

	function showTableForm(){

		if($('#outroNovoCpf').val().length != undefined){
			var tam;
			tam = $('#outroNovoCpf').val().length;
			if(tam == 11){
				console.log("showtable")
				$('.nav-tabs a:last').tab('show'); 
			}
		}
	}

		function updateData(){
		if($('#outroNovoNascimento').val() != ''){
			console.log('outroNovoNascimento foi executado');
			$('#datepicker-popup-outro-novo').datepicker('update', $('#outroNovoNascimento').val());
		}
	}
	/*]]>*/
</script>

<script th:inline="javascript">

	/*<![CDATA[*/
	(function($) {
		  'use strict';

		  if($(".js-select-single").length){
		    $(".js-select-single").select2();
		  }
	})(jQuery);
	/*]]>*/
</script>

</body>

</html>
