
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title})">
  <title>GCURSOS | Verificação do perfil</title>
</head>

<!-- body -->
<body class="horizontal-menu">

  <!-- container scroller -->
<div class="container-scroller">

    <!-- nav -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">


      <!-- div brand -->
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="#"><span class="text-muted">ZEUS</span></a>
        <a class="navbar-brand brand-logo-mini" href="#"><span class="text-muted">ZEUS</span></a>
      </div>
      <!-- end div brand -->

      <!-- div menu -->
      <div class="navbar-menu-wrapper d-flex align-items-center">

        <!-- button -->
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"><span class="icon-menu"></span></button>

        <!-- ul li link -->
        <ul class="navbar-nav navbar-nav-right">

          <!-- li link sec -->
          <li class="nav-item dropdown d-none d-lg-flex" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link dropdown-toggle" id="adminDropdown" href="#" data-toggle="dropdown">Olá admistrador <span sec:authentication="name"></span></a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="adminDropdown">
              <a class="dropdown-item font-weight-medium" th:href="@{/logout}">
                Logout
              </a>
            </div> 
          </li>

          <!-- li link sec -->
          <li class="nav-item dropdown d-none d-lg-flex" sec:authorize="hasRole('ROLE_USER')">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" data-toggle="dropdown">Olá usuário <span sec:authentication="name"></span></a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="userDropdown">
              <a class="dropdown-item font-weight-medium" th:href="@{/logout}">
                Logout
              </a>
            </div> 
          </li>

        </ul>
        <!-- end ul li link -->
      </div>
      <!-- end div menu -->
    </nav>
    <!-- end nav -->

           <!-- container page body -->
           <div class="container-fluid page-body-wrapper"> 
                
                 <!-- row -->
                 <div class="row">
                 
                   <!-- grid margin -->
                   <div class="col-12 grid-margin">
                          
                      <!-- card -->
                      <div class="card">
                           
                       <!-- card body -->
                       <div class="card-body">
                            
                            <!-- div title -->
                            <div class="mt-5 mb-5 text-center">
                               <h2 class="card-title">Vamos completar seu cadastro</h2>
                               <p class="h5">Para que você tenha acesso a todos os recursos da plataforma, primeiro precisamos completar o seu cadastro</p>
                            </div>
                            <!-- end div title -->

                              <!-- form -->
                            <form id="example-form" action="#">
                              
                              <!-- div form -->
                              <div>
                                
                                
                                <h3>Dados pessoais</h3>
                                <!-- section dados pessoais -->
                                <section>
                                  <h4>Entre com seus dados</h4>
                                  
                                  <!-- row -->
                                  <div class="row">      

                                     <!-- form item -->
                                    <div class="col-lg-6">   
                                      <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" class="form-control" aria-describedby="nomeHelp" placeholder="Nome completo" name="nome" required="true" />
                                        <small id="nomeHelp" class="form-text text-muted"></small>
                                      </div>
                                    </div>

                                    <!-- form item -->
                                    <div class="col-lg-3">
                                      <div class="form-group">
                                        <label for="nome">CPF</label>
                                        <input type="text" class="form-control" aria-describedby="cpfHelp" placeholder="digite apenas números" name="cpf" pattern="[0-9]+" required="true"  maxlength="11" />
                                        <small id="cpfHelp" class="form-text text-muted"></small>
                                      </div>
                                    </div>

                                     <!-- form item -->
                                    <div class="col-lg-3">
                                      <div class="form-group">
                                        <label for="idade">Idade</label>
                                        <input type="number" class="form-control" aria-describedby="idadeHelp" placeholder="informe sua idade" name="idade" min="0" max="99" required="true" />
                                        <small id="cpfHelp" class="form-text text-muted"></small>
                                      </div>
                                    </div>

                                     <!-- form item -->
                                    <div class="col-lg-4">
                                      <div class="form-group">
                                        <label for="sexo">Sexo</label>
                                        <input type="text" class="form-control" aria-describedby="sexoHelp" placeholder="Informe sua opção sexual" name="sexo" required="true" />
                                        <small id="sexoHelp" class="form-text text-muted"></small>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- end row -->

                                </section>
                                <!-- end section dados pessoais -->

                                <h3>Dados profissionais</h3>
                                <!-- section dados profissionais -->
                                <section>
                                  <h4>Dados profissionais</h4>
                                  
                                  <!-- form item -->
                                    <div class="col-lg-4">
                                      <div class="form-group">
                                        <label for="unidade">Unidade de trabalho</label>
                                        <select type="text" class="form-control" aria-describedby="unidadeHelp">
                                          <option>unidade</option>
                                        </select>
                                        <small id="unidadeHelp" class="form-text text-muted"></small>
                                      </div>
                                    </div>

                                   <!-- form item -->
                                    <div class="col-lg-4">
                                      <div class="form-group">
                                        <label for="cargo">Cargo</label>
                                        <select type="text" class="form-control" aria-describedby="cargoHelp">
                                          <option>cargo</option>
                                        </select>
                                        <small id="estadoHelp" class="form-text text-muted"></small>
                                      </div>
                                    </div>

                                  <!-- form item -->
                                  <div class="form-group">
                                    <label>Last name</label>
                                    <input type="password" class="form-control" placeholder="Last name">
                                  </div>
                                  <!-- form item -->
                                  <div class="form-group">
                                    <label>Profession</label>
                                    <input type="password" class="form-control" placeholder="Profession">
                                  </div>
                                </section>
                                <!-- end section dados profissionais -->

                                <h3>Dados academicos</h3>
                                <!-- section dados -->
                                <section>
                                  <h4>Enter your comments</h4>
                                  <!-- form item -->
                                  <div class="form-group">
                                    <label>Comments</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                  </div>
                                </section>
                                <!-- section dados -->


                                <h3>Finish</h3>
                                <!-- section dados -->
                                <section>
                                  <h4>You are almost there!</h4>
                                  <!-- form item -->
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="checkbox" type="checkbox">
                                      I agree with the Terms and Conditions.
                                    </label>
                                  </div>
                                </section>
                                <!-- end section dados -->

                              </div>
                              <!-- end div form -->

                            </form>
                            <!-- end form -->

                        </div>
                        <!-- end card body --> 

                      </div>
                      <!-- end card -->

                    </div>
                    <!-- end grid margin -->
                 </div>
                 <!-- end row -->

           </div>
           <!-- end container page body -->
</div>
<!-- end container scroller -->

<!-- js fragments -->
<span th:replace="fragments/base-script :: base"></span>

<!-- js script -->
<script th:src="@{~/js/jquery.steps.min.js}"></script>
<script th:src="@{~/js/jquery.validate.min.js}"></script>
<span th:replace="fragments/base-script :: plugins"></span>
<script th:src="@{~/js/wizard.js}"></script>

</body>
<!-- end body -->

</html>
