
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
	<title>ZEUS | Informações </title>
	<link rel="stylesheet" th:href="@{~/css/dataTables.bootstrap4.css}" />
</head>

<body>
	<!-- container-scroller -->
	<div class="container-scroller">
		
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->
		
		<!-- container-fluid -->
		<div class="container-fluid page-body-wrapper">
			<!-- row-offcanvas -->
			<div class="row row-offcanvas row-offcanvas-right">
				
				<!-- theme-setting-wrapper -->
				<div th:replace="fragments/sidebar :: configuracoes-tema"></div>
				<!-- end  theme-setting-wrapper -->
				
				<!-- right-sidebar -->
				<div th:replace="fragments/sidebar :: sidebar-escondido"></div>
				<!-- end right-sidebar -->
				
				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->
				
				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row justify-content -->
					<div class="row justify-content-center">
						<!-- card table -->
						<div th:unless="${#lists.isEmpty(atuais)}" class="card">
							 <div class="card-header">
				            	<button class="btn btn-outline-success">Adicionar novo</button>
				            </div>
				            <div class="card-body" th:with="usuarios=${atuais}">
				              <h4 class="card-title">Usuários atuais</h4>
				              <div class="row">
				                <div class="col-12">
				                  <div class="table-responsive">
				                    <table id="order-listing-atuais" class="table">
				                      <thead>
				                        <tr>
				                            <th>Nome</th>
				                            <th>CPF</th>
				                            <th>email</th>
				                            <th> :: </th>
				                            <th> :: </th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr th:each="user : ${usuarios}">
				                            <td th:text="${user.nome}"></td>
				                            <td th:text="${user.dadosPessoais.cpf}"></td>
				                            <td th:text="${user.email}"></td>
				                             <td>
				                              <button class="btn btn-outline-primary pt-1 pb-1"><i class="icon-pencil"></i></button>
				                            </td>
				                            <td>
				                              <button class="btn btn-outline-danger pt-1 pb-1"><i class="icon-close"></i></button>
				                            </td>
				                        </tr>
				                      </tbody>
				                    </table>                    
				                  </div>
				                </div>
				              </div>
				            </div>
				        </div>
						<!-- end card table -->

						<!-- card table -->
						<div th:unless="${#lists.isEmpty(antigos)}" class="card">
							 <div class="card-header">
				            	<button class="btn btn-outline-success">Adicionar novo</button>
				            </div>
				            <div class="card-body" th:with="usuarios=${antigos}">
				              <h4 class="card-title">Usuários antigos</h4>
				              <div class="row">
				                <div class="col-12">
				                  <div class="table-responsive">
				                    <table id="order-listing-antigos" class="table">
				                      <thead>
				                        <tr>
				                            <th>Nome</th>
				                            <th>CPF</th>
				                            <th>Telefone</th>
				                            <th> :: </th>
				                            <th> :: </th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr th:each="user : ${usuarios}">
				                            <td th:text="${user.nome}"></td>
				                            <td th:text="${user.dadosPessoais.cpf}"></td>
				                            <td th:text="${user.dadosPessoais.telefones[0].numero} != null ? ${user.dadosPessoais.telefones[0].numero} : 'NÃO INFORMADO'"></td>
				                             <td>
				                              <button class="btn btn-outline-primary pt-1 pb-1"><i class="icon-pencil"></i></button>
				                            </td>
				                            <td>
				                              <button class="btn btn-outline-danger pt-1 pb-1"><i class="icon-close"></i></button>
				                            </td>
				                        </tr>
				                      </tbody>
				                    </table>                    
				                  </div>
				                </div>
				              </div>
				            </div>
				        </div>
						<!-- end card table -->

						<!-- card table -->
						<div th:unless="${#lists.isEmpty(unidades)}" class="card">
				            <div class="card-header">
				            	<a class="btn btn-outline-success" th:href="@{/dashboard/admin/unidades/novo}">Adicionar novo</a>
				            	<div th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i>
											<span th:text="${message}"></span>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											    <span aria-hidden="true">&times;</span>
											</button>
										</div>
								</div>
				            </div>
				            <div class="card-body">
				              <h4 class="card-title">Unidades</h4>
				              <div class="row">

				              	<div class="col-lg-12" th:each="unidade : ${unidades}"> 	
					               	<div class="collapse" th:id="'endereco-' + ${unidade.id}">
										<div class="card card-body">
											<ul class="list-group" th:if="${unidade.endereco != null}">
												<li class="list-group-item active">
												    <div class="row justify-content-between">
													    <div class="col-lg-4 col-xs-12">
												            <span th:text="${unidade.nome}"></span>
													    </div>
													    <div class="col-lg-3 col-xs-8">
													        <span th:text="${unidade.departamento.nome}"></span>
													    </div>
													    <div class="col-lg-1 col-xs-2">
													        <span th:text="${unidade.qtdFuncionarios}"></span>
													    </div>
													   	<div class="col-lg-4 col-xs-12"> 
														   	<div class="row justify-content-center">
															   	<div class="col-lg-6 col-xs-12">
															      <a class="text-white" href="#">Alterar endereço</a>
															    </div>
															    <div class="col-lg-6 col-xs-12">
															    	<a class="text-white" data-toggle="collapse" th:href="'#endereco-' + ${unidade.id}" role="button" aria-expanded="false" aria-controls="collapse-endereco">Fechar janela</a>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">Rua: <span th:text="${unidade.endereco.endereco}"></span></li>
												<li class="list-group-item">Número: <span th:text="${unidade.endereco.numero}"></span></li>
												<li class="list-group-item">Bairro: <span th:text="${unidade.endereco.bairro}"></span></li>
												<li class="list-group-item">Cidade: <span th:text="${unidade.endereco.cidade}"></span></li>
												<li class="list-group-item">Estado: <span th:text="${unidade.endereco.uf}"></span></li>
												<li class="list-group-item">CEP: <span th:text="${unidade.endereco.cep}"></span></li>
											</ul>
											<p th:if="${unidade.endereco == null}">NÃO INFORMADO</p>
										</div>
									</div>
									<div class="collapse" th:id="'contato-' + ${unidade.id}">
									    <div class="card card-body">
									    	<ul class="list-group" th:unless="${#lists.isEmpty(unidade.telefones)}">    <li class="list-group-item active">
												    <div class="row justify-content-between">
													    <div class="col-lg-8 col-xs-12">
													    	<span th:text="${unidade.nome}"></span>
														</div>
														<div class="col-lg-4 col-xs-12"> 
														   	<div class="row justify-content-center">
															   	<div class="col-lg-6 col-xs-12">
															   		<a class="text-white" href="#">+ Novo</a>
																</div>
																<div class="col-lg-6 col-xs-12">
																    <a class="text-white" data-toggle="collapse" th:href="'#contato-' + ${unidade.id}" role="button" aria-expanded="false" aria-controls="collapse-endereco">Fechar janela</a>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item" th:each="telefone : ${unidade.telefones}">
												    <div class="row justify-content-between">
													    <div class="col-lg-4 col-xs-12">Número:
													    	<span th:text="${telefone.numero}"></span>
														</div>
														<div class="col-lg-4 col-xs-12">Setor:
														    <span th:text="${telefone.setor}"></span>
														</div>
														<div class="col-lg-4 col-xs-12"> 
														  	<div class="row justify-content-center">
															   	<div class="col-6">
															       <a class="btn btn-outline-primary pt-1 pb-1" th:href="@{/dashboard/admin/telefones/alterar/{id}(id=${telefone.id})}"><i class="icon-pencil"></i></a>
															    </div>
															    <div class="col-6">
															    	<a class="btn btn-outline-danger pt-1 pb-1" th:href="@{/dashboard/admin/telefones/deletar/{id}(id=${telefone.id})}"><i class="icon-close"></i></a>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
											<p th:if="${#lists.isEmpty(unidade.telefones)}">NÃO INFORMADO</p>
										</div>
									</div>
							   	</div>	


				                <div class="col-12">
				                  <div class="table-responsive">
				                    <table id="order-listing-unidades" class="table">
				                      <thead>
				                        <tr>
				                            <th>Nome</th>
				                            <th>Gerente</th>
				                            <th>Email</th>
				                            <th>Telefones</th>
				                            <th>End/Dep/Func</th>
				                            <th> :: </th>
				                            <th> :: </th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr th:each="unidade : ${unidades}">
				                            <td th:text="${unidade.nome}"></td>
				                            <td th:text="${unidade.gerente}"></td>
				                            <td th:text="${unidade.email}"></td>
				                            <td>
				                            	
				                            	<p>
												  <a class="btn btn-primary" data-toggle="collapse" th:href="'#contato-' + ${unidade.id}" role="button" aria-expanded="false" aria-controls="collapse-contatos">
												    <span th:text="${#lists.isEmpty(unidade.telefones)} ? 'NÃO INFORMADO' : ${unidade.telefones[0].numero}"></span>
												  </a>
												</p>
												

				                            </td>
				                            <td>
				                            	
				                            	<p>
												  <a class="btn btn-primary" data-toggle="collapse" th:href="'#endereco-' + ${unidade.id}" role="button" aria-expanded="false" aria-controls="collapse-endereco">
												    ver
												  </a>
												</p>

				                            </td>
				                            <td>
				                              <a class="btn btn-outline-primary pt-1 pb-1" th:href="@{/dashboard/admin/unidades/alterar/{id}(id=${unidade.id})}"><i class="icon-pencil"></i></button>
				                            </td>
				                            <td>
				                              <a class="btn btn-outline-danger pt-1 pb-1" th:href="@{/dashboard/admin/unidades/deletar/{id}(id=${unidade.id})}"><i class="icon-close"></i></a>
				                            </td>
				                           
				                        </tr>
				                      </tbody>
				                    </table>                    
				                  </div>
				                </div>
				              </div>
				            </div>
				        </div>
						<!-- end card table -->

						<!-- card table -->
						<div th:unless="${#lists.isEmpty(departamentos)}" class="card">
							 <div class="card-header">
				            	<a class="btn btn-outline-success" th:href="@{/dashboard/admin/departamentos/novo}">Adicionar novo</a>
				            	<div th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i>
											<span th:text="${message}"></span>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											    <span aria-hidden="true">&times;</span>
											</button>
										</div>
								</div>
				            </div>
				            <div class="card-body">
				              <h4 class="card-title">Departamentos</h4>
				              <div class="row">
				                <div class="col-12">
				                  <div class="table-responsive">
				                    <table id="order-listing-departamentos" class="table">
				                      <thead>
				                        <tr>
				                            <th>Nome</th>
				                            <th>Identidade</th>
				                            <th> :: </th>
				                            <th> :: </th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr th:each="departamento : ${departamentos}">
				                            <td th:text="${departamento.nome}"></td>
				                            <td th:text="${departamento.identidade}"></td>
				                            <td>
				                              <a class="btn btn-outline-primary pt-1 pb-1" th:href="@{/dashboard/admin/departamentos/alterar/{id}(id=${departamento.id})}"><i class="icon-pencil"></i></a>
				                            </td>
				                            <td>
				                              <a class="btn btn-outline-danger pt-1 pb-1" th:href="@{/dashboard/admin/departamentos/deletar/{id}(id=${departamento.id})}"><i class="icon-close"></i></a>
				                            </td>
				                        </tr>
				                      </tbody>
				                    </table>                    
				                  </div>
				                </div>
				              </div>
				            </div>
				        </div>
						<!-- end card table -->


						<div th:unless="${#lists.isEmpty(cargos)}" class="card">
							 <div class="card-header">
				            	<a class="btn btn-outline-success" th:href="@{/dashboard/admin/cargos/novo}">Adicionar novo</a>
				            	<div th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i>
											<span th:text="${message}"></span>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											    <span aria-hidden="true">&times;</span>
											</button>
										</div>
								</div>
				            </div>
				            <div class="card-body">
				              <h4 class="card-title">Cargos</h4>
				              <div class="row">
				                <div class="col-12">
				                  <div class="table-responsive">
				                    <table id="order-listing-cargos" class="table">
				                      <thead>
				                        <tr>
				                            <th>Nome</th>
				                            <th> :: </th>
				                            <th> :: </th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr th:each="cargo : ${cargos}">
				                            <td th:text="${cargo.nome}"></td>
				                             <td>
				                              <a class="btn btn-outline-primary pt-1 pb-1" th:href="@{/dashboard/admin/cargos/alterar/{id}(id=${cargo.id})}"><i class="icon-pencil"></i></a>
				                            </td>
				                            <td>
				                              <a class="btn btn-outline-danger pt-1 pb-1" th:href="@{/dashboard/admin/cargos/deletar/{id}(id=${cargo.id})}"><i class="icon-close"></i></a>
				                            </td>
				                        </tr>
				                      </tbody>
				                    </table>                    
				                  </div>
				                </div>
				              </div>
				            </div>
				        </div>
						<!-- end card table -->

					</div>
					<!-- end row justify-content -->		
				</div>
				<!-- end content-wrapper -->

<!--footer -->
<footer class="footer">
	<div class="container-fluid clearfix">
		<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2017 <a href="#">UrbanUI</a>. All rights reserved.</span>
		<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
	</div>
</footer>
<!-- end footer -->
</div>
<!-- end row-offcanvas -->
</div>
<!-- end container-fluid  -->

</div>
<!-- end container-scroller -->

<span th:replace="fragments/base-script :: base"></span>
<script th:src="@{~/js/jquery.dataTables.js}"></script>
<script async="async" th:src="@{~/js/dataTables.bootstrap4.js}"></script> 
<span th:replace="fragments/base-script :: plugins"></span>
<!--<script  th:src="@{~/js/datatable-init.js}"></script> -->

<script th:unless="${#lists.isEmpty(atuais)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		 $('#order-listing-atuais').DataTable();
	});
	/*]]>*/
</script>

<script th:unless="${#lists.isEmpty(antigos)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		 $('#order-listing-antigos').DataTable();
	});
	/*]]>*/
</script>

<script th:unless="${#lists.isEmpty(unidades)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		 $('#order-listing-unidades').DataTable();
	});
	/*]]>*/
</script>

<script th:unless="${#lists.isEmpty(departamentos)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		 $('#order-listing-departamentos').DataTable();
	});
	/*]]>*/
</script>

<script th:unless="${#lists.isEmpty(cargos)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		 $('#order-listing-cargos').DataTable();
	});
	/*]]>*/
</script>


</body>

</html>
