
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{})">
<title>ZEUS | Cadastros</title>
</head>

<body>
	<!-- container-scroller -->
	<div class="container-scroller">

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- container-fluid -->
		<div class="container-fluid page-body-wrapper">
			<!-- row-offcanvas -->
			<div class="row row-offcanvas row-offcanvas-right">

				<!-- theme-setting-wrapper -->
				<div th:replace="fragments/sidebar :: configuracoes-tema"></div>
				<!-- end  theme-setting-wrapper -->

				<!-- right-sidebar -->
				<div th:replace="fragments/sidebar :: sidebar-escondido"></div>
				<!-- end right-sidebar -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row justify-content -->
					<div class="row justify-content-center">

						<!-- card -->
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Cargos</h4>
								<form th:action="@{/dashboard/admin/cargos/salvar}">
									<div th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i> <span
												th:text="${message}"></span>
										</div>
									</div>
									<input type="hidden" name="id"
										th:value="${cargo != null} ? ${cargo.id} : ''">
									<div class="form-row">
										<div class="form-group col-lg-12">
											<label for="nome">Nome</label> <input type="text"
												class="form-control" id="nome" placeholder="nome do cargo"
												name="nome" th:value="${cargo != null} ? ${cargo.nome} : ''"
												required="true" />
										</div>
										<div class="form-group col-lg-4">
											<button type="submit" class="btn btn-success">Salvar</button>
										</div>
										<div class="form-group col-lg-8">
											<a class="btn btn-danger"
												th:href="@{/dashboard/admin/cargos}">Cancelar</a>
										</div>
								</form>
							</div>
						</div>
						<!-- end card -->

					</div>
					<!-- end row justify-content -->
				</div>
				<!-- end content-wrapper -->

				<!--footer -->
				<footer class="footer">
					<div class="container-fluid clearfix">
						<span
							class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
							© 2017 <a href="#">UrbanUI</a>. All rights reserved.
						</span> <span
							class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted
							& made with <i class="mdi mdi-heart text-danger"></i>
						</span>
					</div>
				</footer>
				<!-- end footer -->
			</div>
			<!-- end row-offcanvas -->
		</div>
		<!-- end container-fluid  -->

	</div>
	<!-- end container-scroller -->

	<span th:replace="fragments/base-script :: base"></span>
	<span th:replace="fragments/base-script :: plugins"></span>
	<!--<script  th:src="@{~/js/datatable-init.js}"></script> -->

</body>

</html>
